.header {
    width: 100%;
    height: 60px;
    background-color: #161D61;
}

.header_left {
    display: flex;
    position: relative;
    width: 406px;
    height: 25.32px;
    left: 15%;
    top: 10px;
    color: white;
    /* background-color: aliceblue; */
}

.email {
    width: 169px;
    height: 15px;
    top: 56px;
    left: 541px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 14.52px;
    font-size: 12px;
    display: flex;
}

.phone {
    width: 169px;
    height: 15px;
    top: 26px;
    left: 387px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 14.52px;
    font-size: 12px;
    display: flex;
    margin-left: 10px;
}

.language {
    width: 169px;
    height: 15px;
    top: 26px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 14.52px;
    font-size: 12px;
    display: flex;
}

.header_right {
    display: flex;
    position: absolute;
    width: 406px;
    left: 70%;
    top: 20px;
    padding-left: 20px;
    color: white;
    align-self: flex-end;
}

.header_right_icon {
    margin-left: 7px;
}